@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,900);


body {
    margin: 0;
    font-family: Lato, Arial;
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
    color: #666666;
}

.header-content .logo {
    background-image: url(../images/logo.png);
}

#image-selector-popup {
    background-color: white;
    width: 90%;
    height: 80%;
    text-align: center;
}

#image-selector-popup > .images-list {
    overflow: auto;
    position: absolute;
    top: 120px;
    bottom: 0px;
}

#image-files {
    list-style-type: none;
}

#image-selector-popup .add-button {
    text-align: center;
    background: #e0e0e0;
    width: 100px;
    height: 100px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    border: 1px solid gray;
}

#image-selector-popup .add-button:hover {
    background: #c6c6c6;
}

#image-selector-popup .add-button .title {
    font-size: 40px;
}

#image-selector-popup .add-button .dashicons {
    font-size: 40px;
    height: 50px;
    width: 50px;
    margin-top: 10px;
}


#image-selector-popup .close-button {
    position: absolute;
    font-size: 40px;
    background: #e0e0e0;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    top: -20px;
    right: -20px;
    cursor: pointer;
}

#image-selector-popup .close-button:hover {
    background: #c6c6c6;
}

#image-files > .ui-selectee {
    width: 200px;
    height: 200px;
    float: left;
    margin: 10px;
    padding: 10px;
    background: lightgray;
    border: 3px solid gray;
}
#image-files > .ui-selected {
    border: 3px dashed black;
}

#image-files > .ui-selectee > div {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}


.landing {
    background: #66cdcc;
    background: -moz-linear-gradient(-45deg, #66cdcc 0%, #336799 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #66cdcc), color-stop(100%, #336799));
    background: -webkit-linear-gradient(-45deg, #66cdcc 0%, #336799 100%);
    background: -o-linear-gradient(-45deg, #66cdcc 0%, #336799 100%);
    background: -ms-linear-gradient(-45deg, #66cdcc 0%, #336799 100%);
    background: linear-gradient(-45deg, #66cdcc 0%, #336799 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#66cdcc, endColorstr=#336799, GradientType=1);
    overflow: hidden;
}

.section:nth-child(odd) {

}

.section:nth-child(even) {
    background: #f4f4f4;
}

.header-content {
    max-width: 1170px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.landing .section-header {
    height: 140px;
    position: fixed;
    z-index: 100;
    top: 0px;
    width: 100%;
    background: none;
}

.landing .section-video {
    padding-top: 140px;
    background: none;
}

.section-root-buttons {
    height: 100px;
    text-align: center;
    padding-top: 40px;
}

.section-wrapper{
    margin-top:-70px;
    padding-top:70px;
}

.logo {
    float: left;
    background-image: url(../Images/logo.png);
    background-repeat: no-repeat;
    height: 65px;
    padding-top: 12px;
    padding-left: 79px;
    color: #ffffff;
    font-size: 29px;
    font-weight:300;
}

.header-buttons {
    float: right;
}

.section-header .logo {
    margin-top: 35px;
}

.section-header .header-buttons {
    margin-top: 60px;
}

.small .section-header .logo {
    margin-top: 3px;
    color:#336799;
}

.small .section-header .header-buttons {
    margin-top: 25px;
}

.small .section-header {
    background: rgba(221, 239, 241, 0.85);
    height: 70px;
    -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
    box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
}

.section-header h1 {
    display: inline-block;
    font-size: 55px;
    font-weight: 300;
    margin-bottom: 0;
}

.section .section-header {
    text-align: center;
}

.section-header p {
    font-size: 25px;
    color: #999999;
    font-weight: 300;
}

#examples .divider:after {
    background: #66cdcc;
    content: "";
    position: relative;
    height: 4px;
    display: block;
    text-align: center;
    -webkit-border-radius: 5em;
    -moz-border-radius: 5em;
    -ms-border-radius: 5em;
    -o-border-radius: 5em;
    border-radius: 5em;
}

.section-header .divider:after {
    background: #66cdcc;
    content: "";
    position: relative;
    height: 4px;
    width: 60px;
    display: block;
    text-align: center;
    margin: 13px auto;
    -webkit-border-radius: 5em;
    -moz-border-radius: 5em;
    -ms-border-radius: 5em;
    -o-border-radius: 5em;
    border-radius: 5em;
}

.example-preview-div.divider:after {
    width: 60px;
    margin: auto;
}

#examples .divider:last-of-type:after {
    visibility: hidden;
}

#examples .section-header .divider:last-of-type:after {
    visibility: visible;
}

.header-icon {
    font-size: 50px;
}

.section-ul {
    margin-left: 200px;
    list-style-image: url('../images/list-style-image.png');
    font-size: 20px;
    margin-bottom: 40px;
    color: #666666;
}

.section-text {
    text-indent: 50px;
    margin-left: 200px;
    margin-right: 200px;
    font-size: 20px;
    margin-bottom: 40px;
    color: #666666;
}

.section-ul p {
    margin-left: 40px;
    max-width: 1000px;
    font-size: 17px;
    color: rgb(160, 160, 160);
}

.copyright {
    font-size: 15px;
    padding:20px;
    color: #666666;
}

.hide-for-small{
    display:initial;
}

.show-for-small{
    display:none;
}

/*HELP BLOCK START*/
.a-list {
    min-width: 200px;
}

.a-list a::after {
    content: '\a';
}

.a-list a {
    white-space: pre;
}

.anchor {
    margin-top: -80px;
    padding-top: 80px;
}

.anchor:target > div {
    box-shadow: black 0px 0px 5px 1px;
    transition: all 0.3s;
}

.a-list .shift-1 {
    margin-left: 20px
}

.example-img{
    width:346px;
}

.version {
    margin-left: 10px;
    color: #BB761D;
    font-weight: bold;
}

.version:before{
    content: '(Added in '
}

.version:after{
    content: ')'
}

.example-preview-div {
    margin: auto;
    text-align: center;
}

#video-container>iframe {
    width: 560px;
    height: 315px;
}

#add-to-wp img {
    margin-bottom: 45px;
    margin-top: 15px;
    max-width: 90%;
    box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.75)
}

.section.section-video.video-inner {
    padding-left: 100px;
    padding-right: 100px;
}

/*HELP BLOCK END*/
@media (max-width:1050px) {

    .section.section-video.video-inner {
        padding-left: 30px;
        padding-right: 30px;
    }

    .hide-for-small{
        display:none;
    }

    .show-for-small{
        display:initial;
    }

    #help-container {
        font-size: 19px;
    }
    
    .a-list {
        min-width: 500px;
    }

    .a-list h4 {
        font-size: 25px;
    }

    .a-list h5 {
        font-size: 22px;
    }

    .section-ul {
        margin-left: auto;
    }

    .section-text {
        margin-left: 20px;
        margin-right: 20px;
    }

    .carousel-inner {
        transform: scale(0.7);
    }
}

@media (max-width:640px) {
    .hide-for-very-small{
        display:none;
    }

    #config>div>img {
        width: 298px;
        height: 211px;
    }

    #video-container>iframe {
        width: 280px;
        height: 159px;
    }

    .carousel-inner {
        transform: scale(0.5);
    }
}